[submodule "PyMultiScrobble"]
	path = PyMultiScrobble
	url = https://github.com/csu/PyMultiScrobble.git
[submodule "PySpotifyControl"]
	path = PySpotifyControl
	url = https://github.com/csu/PySpotifyControl.git
[submodule "PySpotifySpeechControl"]
	path = PySpotifySpeechControl
	url = https://github.com/csu/PySpotifySpeechControl.git
